.results--majorBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.results--box{
    width: 740px;
    height: 170px;
    border-radius: 15px;
    border: 2px solid hsl(217, 16%, 45%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}
.results--box img{
   width: 150px;
   height: 100px;
   margin-left: 25px;
}
.results--stats-results{
    width: 150px;
    height: 120px;
    background-color: white;
    border-radius: 5px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.results--stats-resuls--score{
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 14px;
    color: #2b71d6;
    font-weight: 600;
}
.results--stats-resuls--result{
    font-size: 60px;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
    letter-spacing: normal;
    letter-spacing: -5px;
    margin-right: 8px;
}
@media screen and (max-width: 768px){
    .results--box{
     width: 320px;
     height: 100px;
    }
    .results--box img{
        width: 100px;
        height: 60px;
        margin-left: 25px;
     }
     .results--stats-results{
        width: 85px;
        height: 70px;
        margin-right: 15px;
     }
     .results--stats-resuls--score{
        letter-spacing: 2px;
        margin-top: 10px;
        font-size: 10px;
        font-weight: 700;
    
    }
    .results--stats-resuls--result{
        font-size: 35px;
        font-weight: 700;
        margin-right: 8px;
    }
}
@media screen and (max-height: 990px){
    .results--box{
     width: 320px;
     height: 100px;
    }
    .results--box img{
        width: 100px;
        height: 60px;
        margin-left: 25px;
     }
     .results--stats-results{
        width: 85px;
        height: 70px;
        margin-right: 15px;
     }
     .results--stats-resuls--score{
        letter-spacing: 2px;
        margin-top: 10px;
        font-size: 10px;
        font-weight: 700;
    
    }
    .results--stats-resuls--result{
        font-size: 35px;
        font-weight: 700;
        margin-right: 8px;
    }
}
